{% extends "layouts/layout.njk" %}

{% block pageTitle %}Peach Service 404{% endblock %}

{% block head %}
  <link rel="stylesheet" href="assets/govuk-frontend.min.css">
  <meta name="keywords" content="GOV.UK, govuk, gov, government, uk, frontend, ui, user interface, jinja, python, flask, port, template, templating, macro, component, design system, html, forms, wtf, wtforms, widget, widgets, demo, example">
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">Peach Service - 404 Not Found</h1>
{% endblock %}